# Enable bare minimum IMA measurement and appraisal as needed by this layer.

CONFIG_SECURITY=y
CONFIG_INTEGRITY=y

# measurement
CONFIG_IMA=y

# appraisal
CONFIG_IMA_APPRAISE=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y

# Kernel will get built with embedded X.509 root CA key and all keys
# need to be signed with that.
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_IMA_TRUSTED_KEYRING=y

#added for extended IMA config
#IMA
CONFIG_AUDIT=y
CONFIG_IMA_AUDIT=y
CONFIG_IMA_LSM_RULES=y
#EVM
CONFIG_TRUSTED_KEYS=y
CONFIG_ENCRYPTED_KEYS=y
CONFIG_EVM=y
